<div class="form-container">
  <div class="instance-name">
    <h2 class="text-lg font-medium text-gray-900">IPv4 Address</h2>
    <div class="flex flex-row w-fit gap-x-3 items-baseline">
      <div class="gap-x-1 bg-indigo-100 py-1 px-2 rounded-md flex flex-row">
        <p class="text-gray-600 tracking-wider">{{vmDisplay.ip_address}}</p>
        <span class="material-icons text-gray-600 scale-75 hover:text-gray-800 cursor-pointer">content_copy</span>
      </div>


      <p class="text-indigo-600 w-fit text-sm cursor-pointer">assign new ip-adress</p>
    </div>
  </div>

  <div class="instance-description">
    <p class="text-indigo-600 w-fit h-fit text-sm cursor-pointer">use ipv6 instead</p>
  </div>

  <button class="bg-indigo-600 w-fit hover:bg-blue-700 text-white font-bold py-4 px-8 rounded">
    Save data
  </button>
</div>
