
<td class="py-4 px-6 text-sm font-medium dark:text-black text-center ">
    {{usage.product.name}}
</td>
<td class="py-4 px-6 text-sm font-medium dark:text-black text-center ">
    {{usage.product.service}}
</td>
<td class="py-4 px-6 text-sm font-medium dark:text-black text-center ">
    {{usage.product.type}}
</td>
<td class="py-4 px-6 text-sm font-medium dark:text-black text-center ">
    €{{usage.product.cost}}
</td>
<td class="py-4 px-6 text-sm font-medium dark:text-black text-center ">
    {{usage.quantity}}
</td>
<td class="py-4 px-6 text-sm font-medium dark:text-black text-center ">
    €{{numberConverter()}}
</td>
<td class="py-4 px-6 text-sm font-medium dark:text-black text-center ">
    {{dateConverter()}}
</td>
