.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;

  h2 {
    left: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    color: #656565;
    margin-bottom: 20px;
  }
}
